@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.file {
  width: 80%;
  margin: 3rem auto;

  &__toolbar {
    @include flex-center();
    margin-bottom: 1rem;
  }

  &__name {
    @include flex-center();
    mat-chip-list {
      margin-left: 1rem;
    }
  }
}
