// TODO move it to mixins.scss
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  @include flex-center();
}

.table {
  &__norecords {
    text-align: center;
    padding: 3rem;
  }
}

// Highlight the row on mouse hover
tr:hover {
  background: whitesmoke;
}

// All columns equal width
[class^='mat-column-'] {
  flex: 1;
}
// School Name slightly wider
.mat-column-schoolname {
  flex: 2;
}
.mat-column-district,
.mat-column-star {
  flex: 0.5;
}
