<section class="header">
  <!-- TITLE -->
  <h1 class="mat-title">
    COVID-19 Free Meals Locations
  </h1>

  <!-- FILTER -->
  <mat-form-field>
    <input
      matInput
      [formControl]="filterField"
      placeholder="Filter"
      aria-label="Enter a value to filter on issue count"
    />
    <button
      mat-button
      *ngIf="filterField.value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="clearFilter()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</section>

<!-- TABLE -->
<section class="mat-elevation-z8 table">
  <!-- PROGRESS BAR -->
  <mat-progress-bar
    mode="indeterminate"
    color="accent"
    *ngIf="isLoading | async"
  ></mat-progress-bar>

  <mat-table
    [dataSource]="dataSource"
    matSort
    matSortActive="district"
    matSortDirection="asc"
    matSortDisableClear
  >
    <!-- District Column -->
    <ng-container matColumnDef="district">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        DISTRICT
      </mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.district }}</mat-cell>
    </ng-container>

    <!-- School Name Column -->
    <ng-container matColumnDef="schoolname">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >SCHOOL NAME</mat-header-cell
      >
      <mat-cell *matCellDef="let row">{{ row.schoolname }}</mat-cell>
    </ng-container>

    <!-- Site Address Column -->
    <ng-container matColumnDef="siteaddress">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >SITE ADDRESS</mat-header-cell
      >
      <mat-cell *matCellDef="let row">{{ row.siteaddress }}</mat-cell>
    </ng-container>

    <!-- City Column -->
    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef mat-sort-header>CITY</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.city }}</mat-cell>
    </ng-container>

    <!-- Zip Column -->
    <ng-container matColumnDef="zip">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ZIP</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.zip }}</mat-cell>
    </ng-container>

    <!-- Accessibility Column -->
    <ng-container matColumnDef="accessibility">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >ACCESSIBILITY</mat-header-cell
      >
      <mat-cell *matCellDef="let row">{{ row.accessibility }}</mat-cell>
    </ng-container>

    <!-- Kosher Meal Column -->
    <ng-container matColumnDef="koshermealtype">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        KOSHER MEAL TYPE
      </mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.koshermealtype }}</mat-cell>
    </ng-container>

    <!-- Star Column -->
    <ng-container matColumnDef="star">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="menu option for detailed view"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openDialog(row)">
            <mat-icon>launch</mat-icon>
            <span>View Details</span>
          </button>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <!-- NO RECORDS -->
  <div
    class="table__norecords"
    aria-label="import status"
    tabindex="0"
    *ngIf="noResults"
    id="no-records-display"
  >
    <ng-container *ngIf="isLoading | async; else elseTemplate">
      Loading...
    </ng-container>
    <ng-template #elseTemplate>
      No Records. Please import a valid file.
    </ng-template>
  </div>

  <!-- PAGINATOR -->
  <mat-paginator
    #paginator
    [length]="dataSource?.data.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [showFirstLastButtons]="showFirstLastButtons"
  >
  </mat-paginator>
</section>
