<h2 mat-dialog-title>
  {{ data.schoolname }}
</h2>

<mat-dialog-content>
  <div class="row">
    <div class="column">
      <p class="mat-body-strong">District</p>
      <span class="mat-body">{{ data.district }}</span>
    </div>
    <div class="column">
      <p class="mat-body-strong">SF Code</p>
      <span class="mat-body">{{ data.sfcode }}</span>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <p class="mat-body-strong">Building Code</p>
      <span class="mat-body">{{ data.bldgcode }}</span>
    </div>
    <div class="column">
      <p class="mat-body-strong">School Name</p>
      <span class="mat-body">{{ data.schoolname }}</span>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <p class="mat-body-strong">Site Address</p>
      <span class="mat-body">{{ data.siteaddress }}</span>
    </div>
    <div class="column">
      <p class="mat-body-strong">Zip</p>
      <span class="mat-body">{{ data.zip }}</span>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <p class="mat-body-strong">Accessibility</p>
      <span class="mat-body">{{ data.accessibility }}</span>
    </div>
    <div class="column">
      <p class="mat-body-strong">Kosher Meal Type</p>
      <span class="mat-body">{{ data.koshermealtype }}</span>
    </div>
  </div>

  <!-- MAP LOCATION-->
  <iframe
    width="100%"
    height="350"
    frameborder="0"
    [src]="data.locationUrl | safe"
    allowfullscreen
  >
  </iframe>
</mat-dialog-content>
